<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, t('articles.form.labels.title'), style: 'display: block' %>
    <%= form.text_field :title, class: 'w-100' %>
  </div>
  <div>
    <%= form.label :preview_image, t('articles.form.labels.preview_img'), style: 'display: block' %>
    <%= form.file_field :preview_img %>
  </div>
  <div>
    <%= form.label :body, t('articles.form.labels.body'), style: 'display: block' %>
    <%= form.rich_text_area :body %>
  </div><br>

  <div>
    <%= form.label :category_id, t('articles.form.labels.category'), style: 'display: block' %>
    <%= form.select :category_id, @categories_array, prompt: t('articles.form.labels.choose') %>
  </div><br>

  <div>
    <%= form.submit %>
  </div>
<% end %>
