<div class='row'>
  <div class="col-6">
    <%= link_to t('buttons.all_articles'), articles_path %>
  </div>
  <div class="col-6 text-right">
    <% if can? :edit, @article %>
      <%= link_to t('buttons.edit'), edit_article_path(@article), class: 'd-inline inline-right btn btn-secondary' %>
    <% end %>
    <% if can? :destroy, @article %>
      <%= button_to t('buttons.delete'), @article, method: :delete, form_class: 'd-inline inline-right', class: ' btn btn-secondary mr-5' %>
    <% end %>
  </div>
</div>

<div class='row'>
  <div class='col-10 offset-1'>
    <%= render @article %>
  </div>
</div>
