<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light"><%= t('welcome.title') %></h1>
      <p class="lead text-muted"><%= t('welcome.description') %></p>
    </div>
  </div>

  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h2 class="fw-light">Чек ліст запланованого функіоналу:</h2>
      <ul>
        <li>Теги</li>
        <li>Фільтри по категоріям</li>
        <li>Додаткові поля про автора</li>
        <li>Лайки</li>
        <li>Коментарі</li>
        <li>Пошук по тектсу</li>
        <li>Пошук по автору</li>
        <li>Гарна сітка переліку статей</li>
      </ul>
    </div>
  </div>
</section>
