<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <%= link_to t('buttons.up'), '#' %>
    </p>
    <p class="mb-1">© <%= Date.today.year %> KavaFans. All rights reserved.</p>
  </div>
</footer>
